h1{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top{
    background-color: rgb(52 108 165);
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.form{
    width:30%;
    font-weight: bold;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    line-height:1;
    background-color:#fbfcff !important;
    padding-top: 0%;
    padding-bottom: 30px;
    border-radius: 30px;
    border: 2px solid #481970;
    justify-content: center !important;
    
    
}

label{
    font-size: 17px;
    margin:10px 0px 10px 32px;
    font-weight: bold;
}
input{
    border-radius: 10px;
    border: 1px solid rgb(159, 154, 154);
    padding:5px;
    width: 80%;
    margin-left: 30px;
}
.form button{
    border-radius: 10px;
    border:none;
    width:100px;
    padding:20px;
    font-weight: bold;
    font-size:15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(101, 169, 233, 0.648);
}
.button{
    display:flex;

}
a{
    color:#000;
}
a:hover{
    color:#000;
}